/*
 * Empty Stylesheet file.
 */

.my-progress-bar .bar {
    -fx-background-radius: 5;
    -fx-background-color:#42c5f4;
}
.my-progress-bar .track {
    -fx-background-radius: 5;
}

.header{
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(to bottom right, #42c5f4, #d6d4d4);
}

.backgrd{
    -fx-background-fill: linear-gradient(to bottom right, #42c5f4, #42f1f4);
}

.backbtn{
    -fx-image: url("backbtn.png");
    -fx-opacity: 0.5;
 
}

.backbtn:hover{
    -fx-image: url("backbtnred.png");
    -fx-opacity: 1;  
}